*{box-sizing: border-box;}

.header img{
    height: 60px ;
    text-align: center;
}
.header nav{
    height: 70px;
    padding: 1%;
    text-align: left;
    background-color: black;
}
.header nav a{
    display: inline;
    text-decoration: none;
    color: white;
    margin-left: 2%;
    font-size: 23px;
}


.right  a{
    display: inline;
    position: relative;
    left:80%;
    top: -39px; 
}

.header nav a:hover{
    border-radius: 4px;
    padding: 4px 8px;
    background-color: yellowgreen;
    color: blue;
    font-weight: bold;
}


 

/* tootle tipe*/
